USE [master]
GO
/****** Object:  Database [Test_DB]    Script Date: 05-04-2019 10:42:37 PM ******/
CREATE DATABASE [Test_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Test_DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Test_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test_DB]
GO
/****** Object:  Table [dbo].[Master_Customer]    Script Date: 05-04-2019 10:42:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Master_Customer](
	[CustomerId] [numeric](10, 0) NOT NULL,
	[CustomerName] [nvarchar](30) NULL,
	[ContactEmail] [nvarchar](25) NULL,
	[MobileNo] [numeric](10, 0) NULL,
 CONSTRAINT [PK_Master_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Process_Transaction]    Script Date: 05-04-2019 10:42:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Process_Transaction](
	[TransactionId] [numeric](10, 0) NOT NULL,
	[TransactionDateTime] [datetime] NULL,
	[Amount] [numeric](18, 2) NULL,
	[CurrencyCode] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CustomerId] [numeric](10, 0) NULL,
 CONSTRAINT [PK_Process_Transaction] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Process_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Process_Transaction_Master_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Master_Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Process_Transaction] CHECK CONSTRAINT [FK_Process_Transaction_Master_Customer]
GO
USE [master]
GO
